/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img-theme:url(../images/cover-image-dark.png);
  --accent-color:#FF0070;
  --hero-title-color:#DB00FF;
  --accent-moody: #000028;
  --bg-color:#000028;
  --primary-text-color: #F1B2CE;
  --accent-color_menu-theme:var(--accent-color);
  --accent-color_content-title:var(--accent-color);
  --decorative-display: block;
}

.triangle-top::after {
  content: "";
  block-size: 6px;
  inline-size: 6px;
  background-color: var(--accent-color);
  border-radius:50%;
  box-shadow: 0 0 8px 5px var(--accent-color);
  display: var(--decorative-display);
}

.triangle-top::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  font-size: 1.125rem;
  right: 30px;
  display: var(--decorative-display);
}
