/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-img-theme: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --hero-title-color: #db00ff;
  --accent-moody: #000028;
  --bg-color: #000028;
  --primary-text-color: #f1b2ce;
  --accent-color_menu-theme: #ff0070;
  --hover-button: rgba(255, 0, 112, 0.4);
  --accent-color_content-title: #ff0070;
  --decorative-display: block;
}

.triangle-top::after {
  content: "";
  block-size: 6px;
  inline-size: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 8px 5px var(--accent-color);
  display: var(--decorative-display);
}

.triangle-top::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color);
  font-size: 1.125rem;
  right: 30px;
  display: var(--decorative-display);
}
