/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-img-theme: url(../images/cover-image-light.png);
  --accent-color: #ff8dcb;
  --hero-title-color: #ffc2e6;
  --accent-moody: #353430;
  --bg-color: #fff;
  --primary-text-color: #353430;
  --accent-color_menu-theme: #353430;
  --accent-color_content-title: #353430;
  --decorative-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-img-theme: url(../images/cover-image-light.png);
    --accent-color: #ff8dcb;
    --hero-title-color: #ffc2e6;
    --accent-moody: #353430;
    --bg-color: #fff;
    --primary-text-color: #353430;
    --accent-color_menu-theme: #353430;
    --accent-color_content-title: #353430;
    --decorative-display: none;
  }
}
