/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img-theme);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #000028;
  font-family: 'IBM Plex mono';
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color_menu-theme);
}

/*Блок Header*/

.header {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  min-block-size:100vh;
  min-height: 668px;
  margin-inline: 10px;
  margin-block-start: 10px;
}

.triangle {
  block-size: 25px;
  inline-size: 25px;
}

.triangle-top {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: start end;
  position: relative;
}

.header__theme-menu{
  justify-self: end;
  margin-block-start:39px;
}

.header__theme-menu-list {
  font-size: 18px;
  color:var(--accent-color_menu-theme);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color_menu-theme);
}

.header__theme-menu-button:focus-visible{
  text-decoration: underline;
  outline: none;
}

.title {
  color: var(--hero-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px var(--accent-color);
}

.header_title {
  line-height: 82.5%;
  margin-block-start:66px;
}

.header-text-container {
  background-color: var(--accent-color);
  margin-block-end: 33px;
}

.header-text {
  color: var(--accent-moody);
}

.triangle-bottom {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  justify-self: start;
  margin-block-end: 20px;
}

/*Блок Main*/

.main{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);
  margin-block-start: 31px;
  padding-inline: 10px;
}

.main .content-section:nth-child(1) {
  margin-block-end: 52px;
}

.main .content-section:nth-child(2) {
  margin-block-end: 51px;
}

.main .content-section:nth-child(3) {
  margin-block-end: 53px;
}

.content-section{
  display: grid;
  gap:1.25rem;
}

.cards-item-list{
  display: flex;
  flex-direction: column;
  gap:1.25rem;
}

.content-title {
  color:var(--accent-color_content-title);
}

.card-content{
  display: flex;
  flex-direction: column;
  gap:0.625rem;
}

.card-title {
  background-color: var(--accent-color);
  color:var(--accent-moody);
  font-size: 1.125rem;
}

.card-accent-title {
  font-weight: 400;
}

.accent-title{
  background-color: var(--accent-color);
  color:var(--accent-moody);
}

.card-text{
  font-size: 1.125rem;
  line-height: 1.3;
  color: var(--primary-text-color);
}

.card-link{
  text-shadow: 2px 2px var(--accent-color);
}

.card-link:focus-visible{
  outline: 1px solid var(--primary-text-color);
}

/*Картинки*/

.content_pictures{
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.625rem;
  margin-block-end: 50px;
}

.image {
  max-block-size: 100%;
  max-inline-size: 100%;
}

.image_ice-cream {
  min-inline-size: 100%;
}

.image_books {
   min-inline-size: 100%;
}

/*Footer*/

.footer{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100vh;
  min-height: 668px;
  background-color: var(--bg-color);
  padding-inline: 10px;
  padding-block-end: 10px;
}

.footer_title{
  color: var(--hero-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px var(--accent-color);
  place-self: center;
}

.triangle-top_footer {
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  align-items: center;
  justify-self:end;
}

.triangle-bottom_footer {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  margin-block-end: 20px;
}

/*Адаптив*/

@media (width >= 768px) {
  .header{
    align-content: space-between;
    grid-template-rows: repeat(5, auto);
    margin-block-start: 20px;
    margin-inline: 20px;
  }

  .header__theme-menu {
    margin-block-start: 146px;
  }

  .header_title {
    margin-block-start: 173px;
    margin-inline-start:-20px ;
  }

  .header-text-container {
    margin-block-start: 165px;
    margin-inline-start: 364px;
  }

  .triangle-bottom {
    margin-block-start: 106px;
  }

  .main {
    padding-inline: 20px;
  }

  .main .content-section:nth-child(1) {
    margin-block-start: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .main .content-section:nth-child(1) .cards-item-list {
    grid-column: span 2;
  }

    .main .content-section:nth-child(1) .cards-item-list .cards-item {
    margin-inline-start: 8px;
  }

  .main .content-section:nth-child(2) .content-title {
    margin-block-start: 30px;
    margin-inline-end: 70%;
  }

  .main .content-section:nth-child(3) {
    margin-block-start: 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .main .content-section:nth-child(3) .cards-item-list {
    grid-column: span 2;
  }

  .main .content-section:nth-child(3) .cards-item-list .cards-item{
    margin-inline-start: 8px;
  }

  .accent-title {
    margin-inline-start: 8px;
  }

  .content_pictures{
    margin-block-start: 25px;
    grid-template-columns: 
    1fr 
    1fr 
    1fr;
    grid-template-rows: 
    24px
    192px
    234px 
    318px;;
    gap:20px;
  }

  .content_pictures .card-title {
    grid-column: span 3;
  }

  .image_sunset {
    min-block-size: 100%;
    min-inline-size: 100%;
    object-fit: cover;
    grid-row:2;
    grid-column: span 2;
  }

  .image_ice-cream {
    min-block-size: 100%;
    object-fit: cover;
    grid-row: span 2;
    grid-column: 3;
  }

  .image_books {
    min-block-size: 100%;
    object-fit: cover;
  }

  .image_tape {
    min-block-size: 97%;
    object-fit: cover;
    grid-column: 1;
    grid-row: span 3;
  }
  .image_street {
    min-inline-size: 100%;
    grid-column: span 2;
}

  .footer {
    padding-block-end: 20px;
    padding-inline: 20px;
  }

  .footer_title {
    margin-block: 400px;
  }
  .triangle-top_footer{
    margin-block-start: 0;
  }

  .triangle-bottom_footer{
    margin-block-start: -12px;
  }
}

@media (width >= 1024px) {
  .header{
    grid-template-rows: 1fr 1fr 1fr 86px;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-between;
    margin-block-start: 20px;
    margin-inline: 20px;
  }

  .triangle-top{
    grid-column: 3;
  }
  
  .header__theme-menu {
    margin-block-start: 0;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_title {
    grid-row: 2;
    grid-column: 1/ span 3;
    margin-block-start:85px;
    margin-inline-start: -20px;
    font-size: 157px;
  }

  .header-text-container {
    grid-row: 3;
    grid-column: 2/ span 3;
    justify-self: end;
    align-self: center;
    max-inline-size: 491px;
    max-block-size: 71px;
    margin-block: 0;
    margin-inline: 0;
    margin-block-start: 88px;
  }

  .triangle-bottom {
    grid-row: 4;
    align-self: end;
    margin-block: 0;
    margin-inline: 0;
  }

  .main .content-section:nth-child(1) {
    margin-block-start: 50px;
  }

  .main .content-section:nth-child(2) {
    margin-block-start: 30px;
  }

   .main .content-section:nth-child(2) .cards-item-list {
    min-block-size: 431px;
    flex-direction: row;
   }

  .main .content-section:nth-child(2) .cards-item-list .cards-item:nth-child(1) {
    min-inline-size: 315px;
   }

  .main .content-section:nth-child(2) .cards-item-list .cards-item:nth-child(2) {
    min-inline-size: 315px;
   }
  .main .content-section:nth-child(2) .cards-item-list .cards-item:nth-child(3) {
    min-inline-size: 315px;
   }

  .main .content-section:nth-child(3) {
    margin-block-start: 28px;
  }

  .content_pictures {
    margin-block-start: 29px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 
  24px
  260px
  315px 
  433px;
    gap:20px;
  }

 .image_sunset {
    min-block-size: 100%;
    min-inline-size: 100%;
    object-fit: cover;
  }

  .image_ice-cream {
    min-block-size: 100%;
    object-fit: cover;

  }

  .image_books {
    min-inline-size: 100%;
    min-block-size: 100%;
    object-position: center;
    object-fit: cover;
  }

  .image_tape {
    object-fit: cover;
  }
  .image_street {
    min-block-size: 100%;
    min-inline-size: 100%;
    object-fit: cover;
}

.footer {
  justify-content: none;
  padding-block-end: 20px;
  padding-inline: 20px;
}

.footer_title {
  margin-block: 236px;
  font-size: 157px;
}

.triangle-top_footer{
  margin-block-start: 10px;
}

.triangle-bottom_footer{
  margin-block-end: 0;
}

}