/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img-theme-dark);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #000028;
  font-family: 'IBM Plex mono';
}

/*Блок Header*/

.header {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  margin-block-start: 10px;
  margin-inline: 10px;
  min-block-size:100vh;
  min-height: 668px;
}

.triangle {
  block-size: 25px;
  inline-size: 25px;
}

.triangle-top {
  border-top: 1px solid var(--accent-color_theme-dark);
  border-right: 1px solid var(--accent-color_theme-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: start end;
}

.triangle-top::after {
  content: "";
  block-size: 6px;
  inline-size: 6px;
  background-color: var(--accent-color_theme-dark);
  border-radius:50%;
  box-shadow: 0 0 8px 5px var(--accent-color_theme-dark);
}

.triangle-top::before {
  content: "REC";
  position: absolute;
  color: var(--accent-color_theme-dark);
  font-size: 1.125rem;
  right: 10%;
}

.header__theme-menu{
  justify-self: end;
  margin-block-start:39px;
}

.header__theme-menu-list {
  font-size: 18px;
  color:var(--accent-color_theme-dark);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color_theme-dark);
}

.header__theme-menu-button:focus-visible{
  text-decoration: underline;
  outline: none;
}

.title {
  color: var(--hero-title-color_theme-dark);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px var(--accent-color_theme-dark);
}

.header_title {
  line-height: 82.5%;
  margin-block-start:66px;
}

.header-text-container {
  margin-block-start: 57px;
}

.header-text {
  background-color: var(--accent-color_theme-dark);
  color: var(--accent-moody_theme-dark);
}

.triangle-bottom {
  border-bottom: 1px solid var(--accent-color_theme-dark);
  border-left: 1px solid var(--accent-color_theme-dark);
  justify-self: start;
  margin-block-start: 32px;
}

/*Блок Main*/

.main{
  display: flex;
  flex-direction: column;
  background-color: var(--accent-moody_theme-dark);
  margin-block-start: 31px;
}


/*Я не использовал gap, т.к. расстояние в макете между секциями неравномерное.*/
.main .content-section:nth-child(1) {
  margin-block-end: 52px;
}

.main .content-section:nth-child(2) {
  margin-block-end: 54px;
}

.main .content-section:nth-child(3) {
  margin-block-end: 52px;
}

.content-section{
  display: grid;
  gap:1.25rem;
  margin-inline: 10px;
}

.cards-item-list{
  display: flex;
  flex-direction: column;
  gap:1.25rem;
}

.content-title {
  color: var(--accent-color_theme-dark);
}

.card-content{
  display: flex;
  flex-direction: column;
  gap:0.625rem;
}

.card-title {
  background-color: var(--accent-color_theme-dark);
  color:var(--accent-moody_theme-dark);
  font-size: 1.125rem;
}

.card-accent-title {
  font-weight: 400;
}

.accent-title{
  background-color: var(--accent-color_theme-dark);
  color:var(--accent-moody_theme-dark);
}

.card-text{
  font-size: 1.125rem;
  line-height: 1.3;
  color: var(--primary-text-color_theme-dark);
}

/*Картинки*/

.content_pictures{
  display: grid;
  grid-template-rows: 1fr;
  gap: 0.625rem;
  margin-block-end: 30px;
}

.image {
  max-block-size: 100%;
  max-inline-size: 100%;
}

/*Footer*/

.footer{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-block-size: 100vh;  
  margin-inline:10px;
  margin-block:10px;
}

.footer_title{
  color: var(--hero-title-color_theme-dark);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px var(--accent-color_theme-dark);
  place-self: center;
}

.triangle-top_footer {
  border-top: 1px solid var(--accent-color_theme-dark);
  border-right: 1px solid var(--accent-color_theme-dark);
  align-items: center;
  justify-self:end;
}

.triangle-bottom_footer {
  border-bottom: 1px solid var(--accent-color_theme-dark);
  border-left: 1px solid var(--accent-color_theme-dark);

}