/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-image: var(--bg-img-theme);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: var(--bg-color);
  font-family: "IBM Plex mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color_menu-theme);
}

/*Блок Header*/

.header {
  display: grid;
  grid-template-rows: auto auto 1fr auto auto;
  block-size: 100vh;
  min-block-size: 667px;
  margin-inline: 10px;
  margin-block-start: 10px;
}

.triangle {
  block-size: 25px;
  inline-size: 25px;
}

.triangle-top {
  place-self: start end;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.triangle-top_header {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  margin-block-start: 39px;
}

.header__theme-menu-list {
  font-size: 18px;
  color: var(--accent-color_menu-theme);
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  gap: 10px;
}

.header__theme-menu-button {
  background: none;
  border: none;
  padding: 1.5px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-button);
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  outline: none;
}

.title {
  color: var(--hero-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px var(--accent-color);
}

.header_title {
  line-height: 82.5%;
  margin-block-start: 67px;
}

.header-text-container {
  background-color: var(--accent-color);
  line-height: 23.4px;
  margin-block-end: 31px;
}

.header-text {
  color: var(--accent-moody);
}

.triangle-bottom {
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  justify-self: start;
}

.triangle-bottom_header {
  margin-block-end: 20px;
}

/*Блок Main*/

.main {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  gap: 50px;
  margin-block-start: 30px;
}

.primary-title {
  line-height: 23.4px;
}

/*УДАЛИЛ РАССТОЯНИЕ МЕЖДУ БЛОКАМИ*/

.content-section {
  display: grid;
  gap: 20px;
}

.cards-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.content-title {
  color: var(--accent-color_content-title);
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-title {
  background-color: var(--accent-color);
  color: var(--accent-moody);
  font-size: 1.125rem;
}

.card-accent-title {
  font-weight: 400;
  line-height: 23.4px;
}

.accent-title {
  margin-block-end: 20px;
  font-size: 1.125rem;
  font-weight: bold;
  background-color: var(--accent-color);
  color: var(--accent-moody);
}

.card-text {
  font-size: 1.125rem;
  line-height: 23.4px;
  color: var(--primary-text-color);
}

.card-link {
  text-shadow: 2px 2px var(--accent-color);
}

.card-link:focus-visible {
  outline: 1px solid var(--primary-text-color);
}

/*Картинки*/

.content_pictures {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.images {
  display: grid;
  gap: 0.625rem;
}

.image {
  block-size: 100%;
  inline-size: 100%;
  min-block-size: 100%;
  object-fit: cover;
}

/*Footer*/

.footer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  block-size: 100vh;
  min-block-size: 667px;
  padding-inline: 10px;
  margin-block-start: 40px;
}

.footer_title {
  color: var(--hero-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px var(--accent-color);
  place-self: center;
}

.triangle-top_footer {
  margin-block-start: 11px;
}

.triangle-bottom_footer {
  margin-block-end: 10px;
}

/*Адаптив*/

@media (width >= 768px) {
  .header {
    align-content: space-between;
    margin-block-start: 20px;
    margin-inline: 20px;
  }

  .header__theme-menu {
    margin-block-start: 145px;
  }

  .header_title {
    margin-block-end: 0;
    margin-block-start: 175px;
    margin-inline-start: -20px;
  }

  .header-text-container {
    margin-block-end: 138px;
    margin-inline-start: 364px;
  }

  .triangle-bottom_header {
    margin-block-end: 40px;
  }

  .main {
    padding-inline: 20px;
    gap: 80px;
    margin-block-start: 40px;
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_accent {
    grid-template-columns: 1fr;
  }

  .content-title_accent {
    margin-inline-end: 70%;
  }

  .content_pictures {
    gap: 20px;
  }

  .images {
    grid-template-columns:
      1fr
      1fr
      1fr;
    gap: 20px;
  }

  .image_sunset {
    grid-column: span 2;
  }

  .image_ice-cream {
    grid-row: span 2;
  }

  .image_tape {
    grid-row: 2/ 4;
  }
  .image_street {
    grid-column: 2/-1;
  }

  .footer {
    margin-block-start: 60px;
    padding-inline: 20px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .triangle-top_footer {
    margin-block-start: 19px;
  }

  .triangle-bottom_footer {
    margin-block-end: 18px;
  }
}

@media (width >= 1024px) {
  .header {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-content: space-between;
    margin-block-start: 20px;
    margin-inline: 20px;
  }

  .triangle-top_header {
    grid-column: 4;
  }

  .header__theme-menu {
    margin-block-start: 0;
    grid-column: 2/4;
    grid-row: 1;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header_title {
    grid-column: span 3;
    margin-block-start: 275px;
    margin-block-end: 23px;
    margin-inline-start: -20px;
    font-size: 157px;
  }

  .header-text-container {
    grid-column: 3/-1;
    justify-self: end;
    align-self: center;
    margin-block: 0;
    margin-inline: 0;
  }

  .triangle-bottom_header {
    grid-row: 4;
  }


  .main {

  }

  .content-section {
    gap:10px
  }

  .content-section_accent {
    gap: 20px
  }

  .content-title_accent {
    margin-inline-end: 70%;
  }

  .cards-item-list__wide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

 .content_pictures {
  gap: 20px;
 }

  .images {
      grid-template-columns:
      1fr
      1fr
      1fr;
    gap: 20px;
  }

  .footer {
    justify-content: none;
    padding-inline: 20px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}
