:root {
  --bg-img-theme:url(../images/cover-image-dark.png);
  --bg-img:url(../images/cover-image.png);
  --accent-color:#FF0070;
  --hero-title-color:#DB00FF;
  --accent-moody: #000028;
  --bg-color:#000028;
  --primary-text-color: #F1B2CE;
  --accent-color_menu-theme:var(--accent-color);
  --accent-color_content-title:var(--accent-color);
}
